body {
    background-image: url("../static/background.jpg");
    background-size: cover; /* Scale the image to cover the entire page */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: center; /* Center the background image */
    background-attachment: fixed;
    font-family: sans-serif;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

form {
    margin: 20px 0;
}

.sunset-container {
    border: 2px solid #ccc; /* Light gray border */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Space inside the border */
    width: 300px; /* Set a fixed width */
    margin: 0 auto; /* Center horizontally */
    position: absolute; /* Use absolute positioning for vertical centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by 50% of its width and height */
    text-align: center; /* Center align the text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    background-color: #f6EEE3; /* Optional: Set a white background */
}


.sunset-container input[type="text"] {
    width: 80%; /* Adjust the width */
    padding: 10px; /* Add padding */
    border: 1px solid #ccc; /* Border for input */
    border-radius: 10px; /* Rounded corners */
    font-size: 16px; /* Adjust font size */
    margin-bottom: 10px; /* Space below input field */
}

/* Style the button */
.sunset-container button {
    padding: 10px 20px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.score-display {
    margin-top: 0;
}

.sunset_scene {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ccc;
}

.low-score {
    background-image: url('......');
}

.mid-score {
    background-image: url('......');
}

.high-score {
    background-image: url('......');
}

