<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title>Sunset Predictor</title>
    <link rel="stylesheet" href="..\static\style.css">

</head>
<body>
    <div class="sunset-container">
        <h1>Check Your Sunset Score!</h1>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('check_sunset') }}" method="post">
            <input type="text" name="zipcode" placeholder="Enter Zip Code" required>
            <button type="submit">Get Score</button>
        </form>
    </div>

    {% if score is defined %}
        <div class="result-container">
            <h2>Sunset Score: {{ score }}</h2>
            <p>Location Type: {{ location_type }}</p>
            <p>{{ city }}, {{ state }}</p>
        </div>

        <div class="sunset_scene {{ 'low-score' if score < 400 else 'mid-score' if score < 700 else 'high-score' }}">
        </div>

        <div class="score-bar">
            <div class="score-item">
                <img src="{{ url_for('static', filename='sun_icon.png') }}" alt="Sun Icon">
                <p>Sun</p>
            </div>
            <div class="score-item">
                <p>Score Range</p>
            </div>
            <div class="score-item">
                <p>{{ score }}</p>
            </div>
            <div class="score-item">
                <p>Description</p>
            </div>
            <div class="score-item">
                <button onclick="share()">Share Your Sunset</button>
            </div>
        </div>

    {% endif %}
</body>
<script>
    function share() {
        alert("Share functionality to be implemented!");
    }
</script>
</html>