<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title>Sunset Predictor</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1>Check Your Sunset Score!</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('check_sunset') }}" method="post">
        <input type="text" name="zipcode" placeholder="Enter Zip Code" required>
        <button type="submit">Get Score</button>
    </form>

    {% if score is defined %}
        <hr>
        <h2>Results for ZIP: {{ zipcode}}</h2>
        <p>Sunset Score: {{ score }}</p>
        <p>Location Type: {{ location_type }}</p>
        <p>Latitude: {{ latitude }}</p>
        <p>Longitude: {{ longitude }}</p>
        <p>City: {{ city }}</p>
        <p>State: {{ state }}</p>

    {% endif %}
</body>
</html>